html, body {
  margin: 0;
  height: 100%;
}

/* Game Bar drawer styles */

#game-bar {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  background-color: dodgerblue;
  padding: 10px;
  left: -300px;
  transition: transform .3s ease-in;
}

#toggle-drawer {
  position: absolute;
  z-index: 1;
  top: 2.5%;
  right: 50%;
  width: 10%;
  height: 5%;
  background: rgba(0,0,0,0.5);
  color: #eee;
  border: 1px solid #444;
  cursor: pointer;
}

#toggle-drawer:focus {
  outline: none;
}

.drawer {
  transform: translateX(300px);
}
/* End of Game Bar drawer styles */


/* Container styles */
#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#game-window {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: limegreen;
}

#nyan-cat {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #444;
}

#yarn-ball {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 40px;
  height: 40px;
  background-color: #444;
}
/* End of Container styles */

/* Apply Desktop, Laptop styles */
@media only screen  and (min-width : 1224px) {
  #wrapper {
    flex-direction: row;
  }

  #game-window {
    width: 100%;
    height: 100%;
  }
}

/* Apply Tablets, Smartphones styles */
@media (min-width: 480px) and (max-width: 1080px) {
  #wrapper {
    flex-direction: column-reverse;
  }

  #game-bar {
    width: 100%;
    height: 20%;
  }

  #game-window {
    width: 100%;
    height: 80%;
  }
}
